<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 9pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="2.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- waver 1-->
        <input type="text" value="X" style="top: 120pt; left: 553pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 130pt; left: 553pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 3-->
        <input type="text" value="X" style="top: 182pt; left: 359pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 256pt; left: 553pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 270pt; left: 553pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


        <!-- investment track 0 tagmulim-->
        <input type="text" value="X" style="top: 374pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 1 tagmulim-->
        <input type="text" value="X" style="top: 387pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 tagmulim-->
        <input type="text" value="X" style="top: 400pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 tagmulim-->
        <input type="text" value="X" style="top: 413pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 tagmulim-->
        <input type="text" value="X" style="top: 425pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 tagmulim-->
        <input type="text" value="X" style="top: 438pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 tagmulim-->
        <input type="text" value="X" style="top: 451pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 tagmulim-->
        <input type="text" value="X" style="top: 463pt; left: 549pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- investment track 0 tagmulim percent-->
        <input type="text" value="000%" style="top: 374pt; left: 339pt; width:22pt; background-color: transparent;"> 

        <!-- investment track 0 pitzuim-->
        <input type="text" value="X" style="top: 374pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 1 pitzuim-->
        <input type="text" value="X" style="top: 387pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 pitzuim-->
        <input type="text" value="X" style="top: 400pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 pitzuim-->
        <input type="text" value="X" style="top: 413pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 pitzuim-->
        <input type="text" value="X" style="top: 425pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 pitzuim-->
        <input type="text" value="X" style="top: 438pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 pitzuim-->
        <input type="text" value="X" style="top: 451pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 pitzuim-->
        <input type="text" value="X" style="top: 463pt; left: 280pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- hafkada percent-->
        <input type="text" value="6.66" style="top: 696pt; left: 379pt; width:24pt; background-color: transparent;"> 
        <!-- tzvira percent-->
        <input type="text" value="6.66" style="top: 710pt; left: 379pt; width:24pt; background-color: transparent;"> 

    </body>
</html>