<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 9pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="4.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- keren_type -->
        <input type="text" value="X" style="top: 133pt; left: 375pt; width:12pt; background-color: transparent;">

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 189pt; left: 495pt; width:78pt;">
        <!-- family_name -->
        <input type="text" value="וינוגרד" style="top: 189pt; left: 418pt; width:78pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 189pt; left: 265pt; width:77pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 189pt; left: 208pt; width:58pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 189pt; left: 196pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 189pt; left: 187pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 189pt; left: 155pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 189pt; left: 134pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 189pt; left: 113pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 189pt; left: 93pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 189pt; left: 65pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 218pt; left: 482pt; width:91pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 218pt; left: 304pt; width:114pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 218pt; left: 214pt; width:90pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 251pt; left: 438pt; width:134pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 251pt; left: 303pt; width:135pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 245pt; left: 175pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 401pt; left: 437pt; width:135pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 401pt; left: 303pt; width:135pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 401pt; left: 34pt; width:135pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 401pt; left: 169pt; width:134pt;">

        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 449pt; left: 546pt; width:12pt; background-color: transparent;">
        <!-- insurance type 1 age -->
        <input type="text" value="X" style="top: 541pt; left: 183pt; width:12pt; background-color: transparent;"> <!--67-->
        <input type="text" value="X" style="top: 474pt; left: 183pt; width:12pt; background-color: transparent;"> <!--64-->

    </body>
</html>