<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- keren_type -->
        <input type="text" value="X" style="top: 132pt; left: 351pt; width:12pt; background-color: transparent;">

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 300pt; left: 490pt; width:74pt;">
        <!-- family_name -->
        <input type="text" value="וינוגרד" style="top: 300pt; left: 383pt; width:107pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 300pt; left: 178pt; width:118pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 300pt; left: 102pt; width:76pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 297pt; left: 88pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 297pt; left: 66pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 334pt; left: 551pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 334pt; left: 512pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 334pt; left: 477pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 345pt; left: 551pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 345pt; left: 512pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 342pt; left: 332pt; width:113pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 342pt; left: 178pt; width:118pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 342pt; left: 136pt; width:42pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 385pt; left: 383pt; width:181pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 385pt; left: 296pt; width:87pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 376pt; left: 202pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 669pt; left: 434pt; width:130pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 669pt; left: 304pt; width:130pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 669pt; left: 42pt; width:131pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 669pt; left: 171pt; width:130pt;">

        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 457pt; left: 554pt; width:12pt; background-color: transparent;">
        <!-- insurance type 1 age -->
        <input type="text" value="X" style="top: 458pt; left: 54pt; width:12pt; background-color: transparent;"> <!--67-->
        <input type="text" value="X" style="top: 458pt; left: 93pt; width:12pt; background-color: transparent;"> <!--64-->

    </body>
</html>