<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 8.5pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- keren_type -->
        <input type="text" value="X" style="top: 132pt; left: 351pt; width:12pt; background-color: transparent;">

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 219pt; left: 502pt; width:70pt;">
        <!-- family_name -->
        <input type="text" value="וינוגרד" style="top: 219pt; left: 402pt; width:100pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 219pt; left: 220pt; width:98pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 219pt; left: 162pt; width:56pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 219pt; left: 139pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 219pt; left: 117pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 207pt; left: 54pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 207pt; left: 88pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 219pt; left: 54pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 219pt; left: 88pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 230pt; left: 88pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 257pt; left: 445pt; width:127pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 257pt; left: 218pt; width:156pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 257pt; left: 162pt; width:56pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 284pt; left: 436pt; width:136pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 284pt; left: 351pt; width:85pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 284pt; left: 216pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 465pt; left: 431pt; width:141pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 465pt; left: 247pt; width:183pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 465pt; left: 35pt; width:98pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 465pt; left: 133pt; width:113pt;">

        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 516pt; left: 553pt; width:12pt; background-color: transparent;">
        <!-- insurance type 2 -->
        <input type="text" value="X" style="top: 540pt; left: 553pt; width:12pt; background-color: transparent;">
        <!-- insurance type 3 -->
        <input type="text" value="X" style="top: 567pt; left: 553pt; width:12pt; background-color: transparent;">
        <!-- insurance type 4 -->
        <input type="text" value="X" style="top: 600pt; left: 553pt; width:12pt; background-color: transparent;">
        <!-- insurance type 5 -->
        <input type="text" value="X" style="top: 617pt; left: 553pt; width:12pt; background-color: transparent;">
        <!-- insurance type 6 -->
        <input type="text" value="X" style="top: 641pt; left: 553pt; width:12pt; background-color: transparent;">
        <!-- insurance type 7 -->
        <input type="text" value="X" style="top: 657pt; left: 553pt; width:12pt; background-color: transparent;">

        <!-- insurance type 1 age 67-->
        <input type="text" value="X" style="top: 518pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 64-->
        <input type="text" value="X" style="top: 518pt; left: 175pt; width:12pt; background-color: transparent;">
        <!-- insurance type 1 age 62-->
        <input type="text" value="X" style="top: 518pt; left: 203pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 60-->
        <input type="text" value="X" style="top: 518pt; left: 229pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 67-->
        <input type="text" value="X" style="top: 541pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 64-->
        <input type="text" value="X" style="top: 541pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 62-->
        <input type="text" value="X" style="top: 541pt; left: 203pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 60-->
        <input type="text" value="X" style="top: 541pt; left: 229pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 67-->
        <input type="text" value="X" style="top: 571pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 64-->
        <input type="text" value="X" style="top: 571pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 62-->
        <input type="text" value="X" style="top: 571pt; left: 203pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 60-->
        <input type="text" value="X" style="top: 571pt; left: 229pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 67-->
        <input type="text" value="X" style="top: 600pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 64-->
        <input type="text" value="X" style="top: 600pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 62-->
        <input type="text" value="X" style="top: 600pt; left: 203pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 60-->
        <input type="text" value="X" style="top: 600pt; left: 229pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 67-->
        <input type="text" value="X" style="top: 617pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 64-->
        <input type="text" value="X" style="top: 617pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 62-->
        <input type="text" value="X" style="top: 617pt; left: 203pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 60-->
        <input type="text" value="X" style="top: 617pt; left: 229pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 67-->
        <input type="text" value="X" style="top: 641pt; left: 147pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 64-->
        <input type="text" value="X" style="top: 641pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 62-->
        <input type="text" value="X" style="top: 641pt; left: 203pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 60-->
        <input type="text" value="X" style="top: 641pt; left: 229pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 7 age 60-->
        <input type="text" value="X" style="top: 657pt; left: 229pt; width:12pt; background-color: transparent;"> 

    </body>
</html>