<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 8.5pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="2.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- waver 1-->
        <input type="text" value="X" style="top: 211pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 228pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 330pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 340pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- add cover 1-->
        <input type="text" value="X" style="top: 383pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- add cover 2-->
        <input type="text" value="X" style="top: 429pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- investment track 1 tagmulim-->
        <input type="text" value="X" style="top: 547pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 tagmulim-->
        <input type="text" value="X" style="top: 591pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 tagmulim-->
        <input type="text" value="X" style="top: 607pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 tagmulim-->
        <input type="text" value="X" style="top: 624pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 tagmulim-->
        <input type="text" value="X" style="top: 641pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 tagmulim-->
        <input type="text" value="X" style="top: 680pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 tagmulim-->
        <input type="text" value="X" style="top: 698pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 tagmulim-->
        <input type="text" value="X" style="top: 716pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


    </body>
</html>