<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 8.5pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="3.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->
        <!-- investment track 1 pitzuim-->
        <input type="text" value="X" style="top: 178pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 pitzuim-->
        <input type="text" value="X" style="top: 222pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 pitzuim-->
        <input type="text" value="X" style="top: 238pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 pitzuim-->
        <input type="text" value="X" style="top: 256pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 pitzuim-->
        <input type="text" value="X" style="top: 272pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 pitzuim-->
        <input type="text" value="X" style="top: 312pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 pitzuim-->
        <input type="text" value="X" style="top: 329pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 pitzuim-->
        <input type="text" value="X" style="top: 346pt; left: 545pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- hafkada percent-->
        <input type="text" value="6.66" style="top: 455pt; left: 410pt; width:25pt; background-color: transparent;"> 
        <!-- tzvira percent-->
        <input type="text" value="6.66" style="top: 438pt; left: 420pt; width:25pt; background-color: transparent;"> 


    </body>
</html>