<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="3.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- add cover 1-->
        <input type="text" value="X" style="top: 192pt; left: 530pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- add cover 2-->
        <input type="text" value="X" style="top: 159pt; left: 530pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- waver 1-->
        <input type="text" value="X" style="top: 431pt; left: 530pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 445pt; left: 530pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 3-->
        <input type="text" value="X" style="top: 542pt; left: 530pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 623pt; left: 530pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 642pt; left: 530pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

    </body>
</html>