<html>
    <style>
        img {
            width: 100%;
            height: 100%;
        }
        .sig {
            position: absolute;
            border: none;
            outline: 0;
            background: transparent;
            width: 0pt;
            /*height: 65pt;*/
        }
        input {
            text-align: right;
            color: blue;
            font-size: 9pt;
            position: absolute;
            border: none;
            outline: 0;
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;        
        }
        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <body class="img1">
        <div class="img1">
            <img src="data:image/jpg;base64, {{page}}" />
        </div>
        <!-- do not forget 16pt to the right! (azure;gcs)-->
        <!-- do not forget 6pt to the right! (do)-->
        <!-- keren_type -->
        <input type="text" value="{{keren_type}}" style="top: {{keren_type_t}}; left: {{keren_type_l}}; width: {{keren_type_w}};">
        <!-- first_name -->
        <input type="text" value="{{first_name}}" style="top: {{first_name_t}}; left: {{first_name_l}}; width: {{first_name_w}};">
        <!-- family_name -->
        <input type="text" value="{{family_name}}" style="top: {{family_name_t}}; left: {{family_name_l}}; width: {{family_name_w}};">
        <!-- id -->
        <input type="text" value="{{id}}" style="top: {{id_t}}; left: {{id_l}}; width: {{id_w}};">
        <!-- birth date -->
        <input type="text" value="{{birth_date}}" style="top: {{birth_date_t}}; left: {{birth_date_l}}; width: {{birth_date_w}};">

        <!-- gender - male -->
        <input type="text" value="{{gender_1}}" style="top: {{gender_1_t}}; left: {{gender_1_l}}; width: {{gender_1_w}};">
        <!-- gender - female -->
        <input type="text" value="{{gender_2}}" style="top: {{gender_2_t}}; left: {{gender_2_l}}; width: {{gender_2_w}};">

        <!-- family status - single -->
        <input type="text" value="{{family_status_1}}" style="top: {{family_status_1_t}}; left: {{family_status_1_l}}; width: {{family_status_1_w}};">
        <!-- family status - married -->
        <input type="text" value="{{family_status_2}}" style="top: {{family_status_2_t}}; left: {{family_status_2_l}}; width: {{family_status_2_w}}">
        <!-- family status - divorced -->
        <input type="text" value="{{family_status_3}}" style="top: {{family_status_3_t}}; left: {{family_status_3_l}}; width: {{family_status_3_w}};">
        <!-- family status - widower -->
        <input type="text" value="{{family_status_4}}" style="top: {{family_status_4_t}}; left: {{family_status_4_l}}; width: {{family_status_4_w}};">
        <!-- family status - known spouse -->
        <input type="text" value="{{family_status_5}}" style="top: {{family_status_5_t}}; left: {{family_status_5_l}}; width: {{family_status_5_w}};">

        <!-- address - city -->
        <input type="text" value="{{city}}" style="top: {{city_t}}; left: {{city_l}}; width: {{city_w}};">
        <!-- address - street -->
        <input type="text" value="{{street}}" style="top: {{street_t}}; left: {{street_l}}; width: {{street_w}}">
        <!-- address - house -->
        <input type="text" value="{{house}}" style="top: {{house_t}}; left: {{house_l}}; width: {{house_w}};">
        <!-- address - email -->
        <input type="text" value="{{email}}" style="top: {{email_t}}; left: {{email_l}}; width: {{email_w}}">
        <!-- address - cell -->
        <input type="text" value="{{cell}}" style="top: {{cell_t}}; left: {{cell_l}}; width: {{cell_w}}">

        <!-- worker type - employee -->
        <input type="text" value="{{employee_type_1}}" style="top: {{employee_type_1_t}}; left: {{employee_type_1_l}}; width: {{employee_type_1_w}};">

        <!-- employer - name -->
        <input type="text" value="{{employer_name}}" style="top: {{employer_name_t}}; left: {{employer_name_l}}; width: {{employer_name_w}}">
        <!-- employer - address -->
        <input type="text" value="{{employer_address}}" style="top: {{employer_address_t}}; left: {{employer_address_l}}; width: {{employer_address_w}};">
        <!-- employer - id -->
        <input type="text" value="{{employer_id}}" style="top: {{employer_id_t}}; left: {{employer_id_l}}; width: {{employer_id_w}};">
        <!-- employer - phone -->
        <input type="text" value="{{employer_phone}}" style="top: {{employer_phone_t}}; left: {{employer_phone_l}}; width: {{employer_phone_w}}">

        <!-- insurance type 1 -->
        <input type="text" value="{{insurance_type_1}}" style="top: {{insurance_type_1_t}}; left: {{insurance_type_1_l}}; width: {{insurance_type_1_w}}">
        <!-- insurance type 2 -->
        <input type="text" value="{{insurance_type_2}}" style="top: {{insurance_type_2_t}}; left: {{insurance_type_2_l}}; width: {{insurance_type_2_w}}">
        <!-- insurance type 3 -->
        <input type="text" value="{{insurance_type_3}}" style="top: {{insurance_type_3_t}}; left: {{insurance_type_3_l}}; width: {{insurance_type_3_w}}">
        <!-- insurance type 4 -->
        <input type="text" value="{{insurance_type_4}}" style="top: {{insurance_type_4_t}}; left: {{insurance_type_4_l}}; width: {{insurance_type_4_w}}">
        <!-- insurance type 5 -->
        <input type="text" value="{{insurance_type_5}}" style="top: {{insurance_type_5_t}}; left: {{insurance_type_5_l}}; width: {{insurance_type_5_w}}">
        <!-- insurance type 6 -->
        <input type="text" value="{{insurance_type_6}}" style="top: {{insurance_type_6_t}}; left: {{insurance_type_6_l}}; width: {{insurance_type_6_w}}">
        <!-- insurance type 7 -->
        <input type="text" value="{{insurance_type_7}}" style="top: {{insurance_type_7_t}}; left: {{insurance_type_7_l}}; width: {{insurance_type_7_w}}">
        <!-- insurance type age -->
        <input type="text" value="{{insurance_type_1_age_67}}" style="top: {{insurance_type_1_age_67_t}}; left: {{insurance_type_1_age_67_l}}; width: {{insurance_type_1_age_67_w}};">
        <input type="text" value="{{insurance_type_1_age_64}}" style="top: {{insurance_type_1_age_64_t}}; left: {{insurance_type_1_age_64_l}}; width: {{insurance_type_1_age_64_w}}">
        <input type="text" value="{{insurance_type_1_age_62}}" style="top: {{insurance_type_1_age_62_t}}; left: {{insurance_type_1_age_62_l}}; width: {{insurance_type_1_age_62_w}}">
        <input type="text" value="{{insurance_type_1_age_60}}" style="top: {{insurance_type_1_age_60_t}}; left: {{insurance_type_1_age_60_l}}; width: {{insurance_type_1_age_60_w}}">
        <input type="text" value="{{insurance_type_2_age_67}}" style="top: {{insurance_type_2_age_67_t}}; left: {{insurance_type_2_age_67_l}}; width: {{insurance_type_2_age_67_w}};">
        <input type="text" value="{{insurance_type_2_age_64}}" style="top: {{insurance_type_2_age_64_t}}; left: {{insurance_type_2_age_64_l}}; width: {{insurance_type_2_age_64_w}}">
        <input type="text" value="{{insurance_type_2_age_62}}" style="top: {{insurance_type_2_age_62_t}}; left: {{insurance_type_2_age_62_l}}; width: {{insurance_type_2_age_62_w}}">
        <input type="text" value="{{insurance_type_2_age_60}}" style="top: {{insurance_type_2_age_60_t}}; left: {{insurance_type_2_age_60_l}}; width: {{insurance_type_2_age_60_w}}">
        <input type="text" value="{{insurance_type_3_age_67}}" style="top: {{insurance_type_3_age_67_t}}; left: {{insurance_type_3_age_67_l}}; width: {{insurance_type_3_age_67_w}};">
        <input type="text" value="{{insurance_type_3_age_64}}" style="top: {{insurance_type_3_age_64_t}}; left: {{insurance_type_3_age_64_l}}; width: {{insurance_type_3_age_64_w}}">
        <input type="text" value="{{insurance_type_3_age_62}}" style="top: {{insurance_type_3_age_62_t}}; left: {{insurance_type_3_age_62_l}}; width: {{insurance_type_3_age_62_w}}">
        <input type="text" value="{{insurance_type_3_age_60}}" style="top: {{insurance_type_3_age_60_t}}; left: {{insurance_type_3_age_60_l}}; width: {{insurance_type_3_age_60_w}}">
        <input type="text" value="{{insurance_type_4_age_67}}" style="top: {{insurance_type_4_age_67_t}}; left: {{insurance_type_4_age_67_l}}; width: {{insurance_type_4_age_67_w}};">
        <input type="text" value="{{insurance_type_4_age_64}}" style="top: {{insurance_type_4_age_64_t}}; left: {{insurance_type_4_age_64_l}}; width: {{insurance_type_4_age_64_w}}">
        <input type="text" value="{{insurance_type_4_age_62}}" style="top: {{insurance_type_4_age_62_t}}; left: {{insurance_type_4_age_62_l}}; width: {{insurance_type_4_age_62_w}}">
        <input type="text" value="{{insurance_type_4_age_60}}" style="top: {{insurance_type_4_age_60_t}}; left: {{insurance_type_4_age_60_l}}; width: {{insurance_type_4_age_60_w}}">
        <input type="text" value="{{insurance_type_5_age_67}}" style="top: {{insurance_type_5_age_67_t}}; left: {{insurance_type_5_age_67_l}}; width: {{insurance_type_5_age_67_w}};">
        <input type="text" value="{{insurance_type_5_age_64}}" style="top: {{insurance_type_5_age_64_t}}; left: {{insurance_type_5_age_64_l}}; width: {{insurance_type_5_age_64_w}}">
        <input type="text" value="{{insurance_type_5_age_62}}" style="top: {{insurance_type_5_age_62_t}}; left: {{insurance_type_5_age_62_l}}; width: {{insurance_type_5_age_62_w}}">
        <input type="text" value="{{insurance_type_5_age_60}}" style="top: {{insurance_type_5_age_60_t}}; left: {{insurance_type_5_age_60_l}}; width: {{insurance_type_5_age_60_w}}">
        <input type="text" value="{{insurance_type_6_age_67}}" style="top: {{insurance_type_6_age_67_t}}; left: {{insurance_type_6_age_67_l}}; width: {{insurance_type_6_age_67_w}};">
        <input type="text" value="{{insurance_type_6_age_64}}" style="top: {{insurance_type_6_age_64_t}}; left: {{insurance_type_6_age_64_l}}; width: {{insurance_type_6_age_64_w}}">
        <input type="text" value="{{insurance_type_6_age_62}}" style="top: {{insurance_type_6_age_62_t}}; left: {{insurance_type_6_age_62_l}}; width: {{insurance_type_6_age_62_w}}">
        <input type="text" value="{{insurance_type_6_age_60}}" style="top: {{insurance_type_6_age_60_t}}; left: {{insurance_type_6_age_60_l}}; width: {{insurance_type_6_age_60_w}}">

        <!-- add cover 1 -->
        <input type="text" value="{{add_cover_1}}" style="top: {{add_cover_1_t}}; left: {{add_cover_1_l}}; width: {{add_cover_1_w}};">
        <!-- add cover 2 -->
        <input type="text" value="{{add_cover_2}}" style="top: {{add_cover_2_t}}; left: {{add_cover_2_l}}; width: {{add_cover_2_w}};">
        <!-- waver 1 -->
        <input type="text" value="{{waver_1}}" style="top: {{waver_1_t}}; left: {{waver_1_l}}; width: {{waver_1_w}};">
        <!-- waver 2 -->
        <input type="text" value="{{waver_2}}" style="top: {{waver_2_t}}; left: {{waver_2_l}}; width: {{waver_2_w}};">
        <!-- waver 3 -->
        <!--<input type="text" value="{{waver_3}}" style="top: {{waver_3_t}}; left: {{waver_3_l}}; width: {{waver_3_w}};">-->
        <!-- waver 4 -->
        <input type="text" value="{{waver_4}}" style="top: {{waver_4_t}}; left: {{waver_4_l}}; width: {{waver_4_w}};">
        <!-- waver 5 -->
        <input type="text" value="{{waver_5}}" style="top: {{waver_5_t}}; left: {{waver_5_l}}; width: {{waver_5_w}};">

        <!-- investment track 170 tagmulim-->
        <input type="text" value="{{investment_track_170_tag}}" style="top: {{investment_track_170_tag_t}}; left: {{investment_track_170_tag_l}}; width:{{investment_track_170_tag_w}};"> 
        <!-- investment track 9654 tagmulim-->
        <input type="text" value="{{investment_track_9654_tag}}" style="top: {{investment_track_9654_tag_t}}; left: {{investment_track_9654_tag_l}}; width:{{investment_track_9654_tag_w}};"> 
        <!-- investment track 9655 tagmulim-->
        <input type="text" value="{{investment_track_9655_tag}}" style="top: {{investment_track_9655_tag_t}}; left: {{investment_track_9655_tag_l}}; width:{{investment_track_9655_tag_w}};"> 
        <!-- investment track 9656 tagmulim-->
        <input type="text" value="{{investment_track_9656_tag}}" style="top: {{investment_track_9656_tag_t}}; left: {{investment_track_9656_tag_l}}; width:{{investment_track_9656_tag_w}};"> 
        <!-- investment track 9648 tagmulim-->
        <input type="text" value="{{investment_track_9648_tag}}" style="top: {{investment_track_9648_tag_t}}; left: {{investment_track_9648_tag_l}}; width:{{investment_track_9648_tag_w}};"> 
        <!-- investment track 9647 tagmulim-->
        <input type="text" value="{{investment_track_9647_tag}}" style="top: {{investment_track_9647_tag_t}}; left: {{investment_track_9647_tag_l}}; width:{{investment_track_9647_tag_w}};"> 
        <!-- investment track 8484 tagmulim-->
        <input type="text" value="{{investment_track_8484_tag}}" style="top: {{investment_track_8484_tag_t}}; left: {{investment_track_8484_tag_l}}; width:{{investment_track_8484_tag_w}};"> 
        <!-- investment track 2004 tagmulim-->
        <input type="text" value="{{investment_track_2004_tag}}" style="top: {{investment_track_2004_tag_t}}; left: {{investment_track_2004_tag_l}}; width:{{investment_track_2004_tag_w}};"> 

        <!-- investment track 170 pitzuim-->
        <input type="text" value="{{investment_track_170_pit}}" style="top: {{investment_track_170_pit_t}}; left: {{investment_track_170_pit_l}}; width:{{investment_track_170_pit_w}};"> 
        <!-- investment track 9654 pitzuim-->
        <input type="text" value="{{investment_track_9654_pit}}" style="top: {{investment_track_9654_pit_t}}; left: {{investment_track_9654_pit_l}}; width:{{investment_track_9654_pit_w}};"> 
        <!-- investment track 9655 pitzuim-->
        <input type="text" value="{{investment_track_9655_pit}}" style="top: {{investment_track_9655_pit_t}}; left: {{investment_track_9655_pit_l}}; width:{{investment_track_9655_pit_w}};"> 
        <!-- investment track 9656 pitzuim-->
        <input type="text" value="{{investment_track_9656_pit}}" style="top: {{investment_track_9656_pit_t}}; left: {{investment_track_9656_pit_l}}; width:{{investment_track_9656_pit_w}};"> 
        <!-- investment track 9648 pitzuim-->
        <input type="text" value="{{investment_track_9648_pit}}" style="top: {{investment_track_9648_pit_t}}; left: {{investment_track_9648_pit_l}}; width:{{investment_track_9648_pit_w}};"> 
        <!-- investment track 9647 pitzuim-->
        <input type="text" value="{{investment_track_9647_pit}}" style="top: {{investment_track_9647_pit_t}}; left: {{investment_track_9647_pit_l}}; width:{{investment_track_9647_pit_w}};"> 
        <!-- investment track 8484 pitzuim-->
        <input type="text" value="{{investment_track_8484_pit}}" style="top: {{investment_track_8484_pit_t}}; left: {{investment_track_8484_pit_l}}; width:{{investment_track_8484_pit_w}};"> 
        <!-- investment track 2004 pitzuim-->
        <input type="text" value="{{investment_track_2004_pit}}" style="top: {{investment_track_2004_pit_t}}; left: {{investment_track_2004_pit_l}}; width:{{investment_track_2004_pit_w}};"> 

        <!-- hafkada percent-->
        <input type="text" value="{{hafkada_percent}}" style="background-color: white;top: {{hafkada_percent_t}}; left: {{hafkada_percent_l}}; width:{{hafkada_percent_w}};"> 
        <!-- tzvira percent-->
        <input type="text" value="{{tzvira_percent}}" style="background-color: white;top: {{tzvira_percent_t}}; left: {{tzvira_percent_l}}; width:{{tzvira_percent_w}};"> 

        <!-- sign date (today) -->
        <input type="text" value="{{today}}" style="top: {{today_t}}; left: {{today_l}}; width: {{today_w}};">
        <!-- sign_1 -->
        <img style="top:{{sign_1_t}};left:{{sign_1_l}};width:{{sign_1_w}};height:{{sign_1_h}};" class="sig" src="{{sign_1}}">


    </body>
</html>