<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="2.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- investment track 1 tagmulim-->
        <input type="text" value="X" style="top: 149pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 tagmulim-->
        <input type="text" value="X" style="top: 167pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 tagmulim-->
        <input type="text" value="X" style="top: 184pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 tagmulim-->
        <input type="text" value="X" style="top: 202pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 tagmulim-->
        <input type="text" value="X" style="top: 219pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 tagmulim-->
        <input type="text" value="X" style="top: 237pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 tagmulim-->
        <input type="text" value="X" style="top: 253pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 tagmulim-->
        <input type="text" value="X" style="top: 269pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 9 tagmulim-->
        <input type="text" value="X" style="top: 284pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 10 tagmulim-->
        <input type="text" value="X" style="top: 299pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 11 tagmulim-->
        <input type="text" value="X" style="top: 314pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 12 tagmulim-->
        <input type="text" value="X" style="top: 329pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 13 tagmulim-->
        <input type="text" value="X" style="top: 345pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 14 tagmulim-->
        <input type="text" value="X" style="top: 360pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 15 tagmulim-->
        <input type="text" value="X" style="top: 376pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- investment track 0 tagmulim percent-->
        <input type="text" value="000%" style="top: 374pt; left: 339pt; width:22pt; background-color: transparent;"> 

        <!-- investment track 1 pitzuim-->
        <input type="text" value="X" style="top: 451pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 pitzuim-->
        <input type="text" value="X" style="top: 468pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 pitzuim-->
        <input type="text" value="X" style="top: 486pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 pitzuim-->
        <input type="text" value="X" style="top: 503pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 pitzuim-->
        <input type="text" value="X" style="top: 521pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 pitzuim-->
        <input type="text" value="X" style="top: 539pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 pitzuim-->
        <input type="text" value="X" style="top: 555pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 pitzuim-->
        <input type="text" value="X" style="top: 571pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 9 pitzuim-->
        <input type="text" value="X" style="top: 586pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 10 pitzuim-->
        <input type="text" value="X" style="top: 601pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 11 pitzuim-->
        <input type="text" value="X" style="top: 616pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 12 pitzuim-->
        <input type="text" value="X" style="top: 631pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 13 pitzuim-->
        <input type="text" value="X" style="top: 647pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 14 pitzuim-->
        <input type="text" value="X" style="top: 662pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 15 pitzuim-->
        <input type="text" value="X" style="top: 677pt; left: 508pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


    </body>
</html>