<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 10pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 165pt; left: 495pt; width:82pt;">
        <!-- family_name -->
        <input type="text" value="וינוגרד" style="top: 165pt; left: 414pt; width:81pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 165pt; left: 260pt; width:74pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 165pt; left: 186pt; width:74pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 164pt; left: 162pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 164pt; left: 140pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 160pt; left: 110pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 160pt; left: 80pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 160pt; left: 51pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 172pt; left: 110pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 172pt; left: 75pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 196pt; left: 480pt; width:96pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 196pt; left: 186pt; width:194pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 196pt; left: 156pt; width:30pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 246pt; left: 346pt; width:230pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 246pt; left: 253pt; width:93pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 233pt; left: 141pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 413pt; left: 448pt; width:129pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 413pt; left: 262pt; width:187pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 413pt; left: 135pt; width:128pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 413pt; left: 29pt; width:106pt;">


        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 466pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 2 -->
        <input type="text" value="X" style="top: 488pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 3 -->
        <input type="text" value="X" style="top: 510pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 4 -->
        <input type="text" value="X" style="top: 535pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 5 -->
        <input type="text" value="X" style="top: 550pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 6 -->
        <input type="text" value="X" style="top: 575pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 7 -->
        <input type="text" value="X" style="top: 590pt; left: 564pt; width:12pt; background-color: transparent;">
        <!-- insurance type 8 -->
        <input type="text" value="X" style="top: 614pt; left: 564pt; width:12pt; background-color: transparent;">
        
        <!-- insurance type 1 age 67-->
        <input type="text" value="X" style="top: 472pt; left: 141pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 64-->
        <input type="text" value="X" style="top: 472pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 62-->
        <input type="text" value="X" style="top: 472pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 60-->
        <input type="text" value="X" style="top: 472pt; left: 243pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 67-->
        <input type="text" value="X" style="top: 494pt; left: 141pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 64-->
        <input type="text" value="X" style="top: 494pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 62-->
        <input type="text" value="X" style="top: 494pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 60-->
        <input type="text" value="X" style="top: 494pt; left: 243pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 67-->
        <input type="text" value="X" style="top: 517pt; left: 141pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 64-->
        <input type="text" value="X" style="top: 517pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 62-->
        <input type="text" value="X" style="top: 517pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 60-->
        <input type="text" value="X" style="top: 517pt; left: 243pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 67-->
        <input type="text" value="X" style="top: 536pt; left: 141pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 64-->
        <input type="text" value="X" style="top: 536pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 62-->
        <input type="text" value="X" style="top: 536pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 60-->
        <input type="text" value="X" style="top: 536pt; left: 243pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 67-->
        <input type="text" value="X" style="top: 556pt; left: 141pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 64-->
        <input type="text" value="X" style="top: 556pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 62-->
        <input type="text" value="X" style="top: 556pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 60-->
        <input type="text" value="X" style="top: 556pt; left: 243pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 67-->
        <input type="text" value="X" style="top: 576pt; left: 141pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 64-->
        <input type="text" value="X" style="top: 576pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 62-->
        <input type="text" value="X" style="top: 576pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 60-->
        <input type="text" value="X" style="top: 576pt; left: 243pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 7 age 60-->
        <input type="text" value="X" style="top: 596pt; left: 243pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 8 age 67-->
        <input type="text" value="X" style="top: 614pt; left: 141pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 8 age 64-->
        <input type="text" value="X" style="top: 614pt; left: 175pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 8 age 62-->
        <input type="text" value="X" style="top: 614pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 8 age 60-->
        <input type="text" value="X" style="top: 614pt; left: 243pt; width:12pt; background-color: transparent;"> 

        <!-- add cover 1-->
        <input type="text" value="X" style="top: 356pt; left: 553pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- add cover 2-->
        <input type="text" value="X" style="top: 389pt; left: 561pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- waver 1-->
        <input type="text" value="X" style="top: 676pt; left: 562pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 687pt; left: 562pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 3-->
        <input type="text" value="X" style="top: 700pt; left: 562pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 793pt; left: 562pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 805pt; left: 562pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


    </body>
</html>