<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 8.7pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="2.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- waver 1-->
        <input type="text" value="X" style="top: 76pt; left: 558pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 2-->
        <input type="text" value="X" style="top: 86pt; left: 558pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 4-->
        <input type="text" value="X" style="top: 136pt; left: 558pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- waver 5-->
        <input type="text" value="X" style="top: 147pt; left: 558pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- investment track 1 tagmulim-->
        <input type="text" value="X" style="top: 196pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 tagmulim-->
        <input type="text" value="X" style="top: 210pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 tagmulim-->
        <input type="text" value="X" style="top: 224pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 tagmulim-->
        <input type="text" value="X" style="top: 238pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 tagmulim-->
        <input type="text" value="X" style="top: 252pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 tagmulim-->
        <input type="text" value="X" style="top: 266pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 tagmulim-->
        <input type="text" value="X" style="top: 281pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 tagmulim-->
        <input type="text" value="X" style="top: 294pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 9 tagmulim-->
        <input type="text" value="X" style="top: 308pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 10 tagmulim-->
        <input type="text" value="X" style="top: 323pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 


        <!-- investment track 1 pitzuim-->
        <input type="text" value="X" style="top: 364pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 2 pitzuim-->
        <input type="text" value="X" style="top: 379pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 3 pitzuim-->
        <input type="text" value="X" style="top: 392pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 4 pitzuim-->
        <input type="text" value="X" style="top: 408pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 5 pitzuim-->
        <input type="text" value="X" style="top: 421pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 6 pitzuim-->
        <input type="text" value="X" style="top: 435pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 7 pitzuim-->
        <input type="text" value="X" style="top: 450pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 8 pitzuim-->
        <input type="text" value="X" style="top: 463pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 9 pitzuim-->
        <input type="text" value="X" style="top: 477pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- investment track 10 pitzuim-->
        <input type="text" value="X" style="top: 490pt; left: 540pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

        <!-- hafkada percent-->
        <input type="text" value="6.66" style="top: 585; left: 440pt; width:25pt; background-color: transparent;"> 
        <!-- tzvira percent-->
        <input type="text" value="6.66" style="top: 637pt; left: 510pt; width:25pt; background-color: transparent;"> 

    </body>
</html>