<html>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }


        input {
            text-align: right;
            color: blue;
            font-size: 8.7pt;
            position: absolute;
            /*  border: none;
            outline: 0;
            background: transparent;*/
        }

        .img1 {
            width:595.4pt;
            height:840pt; 
        }
    </style>

    <script>

    </script>

    <body >
        <div class="img1">
                <img class="" src="1.png" />
                <!--<img class="" src="data:image/jpg;base64, {{page}}" />-->
            </div>
        <!--
        <div class="img1">
            <img class="" src="2.png" />
        </div>
        <div class="img1">
            <img class="" src="3.png" />
        </div>
        -->

        <!-- keren_type -->
        <input type="text" value="X" style="top: 132pt; left: 351pt; width:12pt; background-color: transparent;">

        <!-- first_name -->
        <input type="text" value="מיכאל" style="top: 188pt; left: 480pt; width:90pt;">
        <!-- family_name -->
        <input type="text" value="וינוגרד" style="top: 188pt; left: 390pt; width:90pt;">
        <!-- id -->
        <input type="text" value="29093861" style="top: 188pt; left: 201pt; width:98pt;">
        <!-- birth date -->
        <input type="text" value="07-02-1972" style="top: 188pt; left: 144pt; width:56pt;">

        <!-- gender - male -->
        <input type="text" value="X" style="top: 188pt; left: 113pt; width:12pt; background-color: transparent;">
        <!-- gender - female -->
        <input type="text" value="X" style="top: 188pt; left: 132pt; width:12pt; background-color: transparent;">

        <!-- family status - single -->
        <input type="text" value="X" style="top: 185pt; left: 88pt; width:12pt; background-color: transparent;">
        <!-- family status - married -->
        <input type="text" value="X" style="top: 185pt; left: 68pt; width:12pt; background-color: transparent;">
        <!-- family status - divorced -->
        <input type="text" value="X" style="top: 185pt; left: 48pt; width:12pt; background-color: transparent;">
        <!-- family status - widower -->
        <input type="text" value="X" style="top: 192pt; left: 88pt; width:12pt; background-color: transparent;">
        <!-- family status - known spouse -->
        <input type="text" value="X" style="top: 192pt; left: 66pt; width:12pt; background-color: transparent;">

        <!-- address - city -->
        <input type="text" value="ניר צבי" style="top: 215pt; left: 458pt; width:113pt;">
        <!-- address - street -->
        <input type="text" value="הרימון" style="top: 216pt; left: 232pt; width:135pt;">
        <!-- address - house -->
        <input type="text" value="6" style="top: 216pt; left: 175pt; width:56pt;">
        <!-- address - email -->
        <input type="text" value="winomi@gmail.com" style="top: 244pt; left: 356pt; width:215pt;">
        <!-- address - cell -->
        <input type="text" value="0544567637" style="top: 244pt; left: 250pt; width:106pt;">

        <!-- worker type - employee -->
        <input type="text" value="X" style="top: 241pt; left: 130pt; width:12pt; background-color: transparent;">

        <!-- employer - name -->
        <input type="text" value="מיכאל וינוגרד" style="top: 447pt; left: 436pt; width:133pt;">
        <!-- employer - address -->
        <input type="text" value="הרימון 6 ניר צבי" style="top: 447pt; left: 301pt; width:134pt;">
        <!-- employer - id -->
        <input type="text" value="29093861" style="top: 447pt; left: 35pt; width:129pt;">
        <!-- employer - phone -->
        <input type="text" value="0544567637" style="top: 447pt; left: 165pt; width:134pt;">

        <!-- insurance type 1 -->
        <input type="text" value="X" style="top: 501pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 2 -->
        <input type="text" value="X" style="top: 525pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 3 -->
        <input type="text" value="X" style="top: 547pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 4 -->
        <input type="text" value="X" style="top: 571pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 5 -->
        <input type="text" value="X" style="top: 593pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 6 -->
        <input type="text" value="X" style="top: 616pt; left: 543pt; width:12pt; background-color: transparent;">
        <!-- insurance type 7 -->
        <input type="text" value="X" style="top: 638pt; left: 543pt; width:12pt; background-color: transparent;">

        <!-- insurance type 1 age 67-->
        <input type="text" value="X" style="top: 503pt; left: 168pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 64-->
        <input type="text" value="X" style="top: 503pt; left: 188pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 62-->
        <input type="text" value="X" style="top: 503pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 1 age 60-->
        <input type="text" value="X" style="top: 503pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 67-->
        <input type="text" value="X" style="top: 526pt; left: 168pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 64-->
        <input type="text" value="X" style="top: 526pt; left: 188pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 62-->
        <input type="text" value="X" style="top: 526pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 2 age 60-->
        <input type="text" value="X" style="top: 526pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 67-->
        <input type="text" value="X" style="top: 549pt; left: 168pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 64-->
        <input type="text" value="X" style="top: 549pt; left: 188pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 62-->
        <input type="text" value="X" style="top: 549pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 3 age 60-->
        <input type="text" value="X" style="top: 549pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 67-->
        <input type="text" value="X" style="top: 571pt; left: 168pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 64-->
        <input type="text" value="X" style="top: 571pt; left: 188pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 62-->
        <input type="text" value="X" style="top: 571pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 4 age 60-->
        <input type="text" value="X" style="top: 571pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 67-->
        <input type="text" value="X" style="top: 594pt; left: 168pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 64-->
        <input type="text" value="X" style="top: 594pt; left: 188pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 62-->
        <input type="text" value="X" style="top: 594pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 5 age 60-->
        <input type="text" value="X" style="top: 594pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 67-->
        <input type="text" value="X" style="top: 617pt; left: 168pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 64-->
        <input type="text" value="X" style="top: 617pt; left: 188pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 62-->
        <input type="text" value="X" style="top: 617pt; left: 209pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 6 age 60-->
        <input type="text" value="X" style="top: 617pt; left: 231pt; width:12pt; background-color: transparent;"> 
        <!-- insurance type 7 age 60-->
        <input type="text" value="X" style="top: 639pt; left: 199pt; width:12pt; background-color: transparent;"> 


        <!-- add cover 1-->
        <input type="text" value="X" style="top: 708pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 
        <!-- add cover 2-->
        <input type="text" value="X" style="top: 678pt; left: 554pt; width:12pt; background-color: transparent;border: none;outline: 0;"> 

    </body>
</html>